$textWhiteColor: white;
$textFont: Arial, serif;
$codeFont: "JetBrains Mono", monospace;

$windowComponentDarkColor: rgb(25, 26, 42);
$windowComponentBrightColor: rgb(34, 36, 54);
$windowComponentBrighterColor: rgb(47, 51, 77);
$windowComponentHighlightColor: rgb(68, 74, 115);
$windowComponentAccentColor: rgb(108, 169, 244);


$windowComponentRadius: 2rem;

