.welcome_section {
  height: 45rem;
  padding: 5rem 0;

  .wrapper {
    max-width: 80rem;
    min-width: 55rem;
    margin: 0 auto;

    .consoleWindowWrapper {
      position: relative;
      margin: 0 auto;
    }
  }
}